@charset 'UTF-8';
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('fonts/poppins-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/poppins-light-webfont.woff2') format('woff2'),
         url('fonts/poppins-light-webfont.woff') format('woff');
}
:root {
  --blue: #00529B;
  --green: #7AC142;
  --yellow: #FDBB2F;
}
::selection {
  background-color: var(--yellow);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a,
a:link,
a:visited {
    background-color: #fff;
    border-color: var(--yellow);
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    color: var(--blue);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.25s;
}
body {
    font-family: 'Poppins', Futura, Helvetica, sans-serif;
    font-weight: 300;
    min-width: 320px;
    text-align: center;
}
footer,
header,
main {
    margin: auto;
}
footer {
    background-color: var(--blue);
    color: #fff;
    padding: 1.5rem 0 0.5rem;
}
footer > div > * {
    margin: 0 auto 0.75rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
header {
    position: relative;
}
html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--blue);
    color: var(--blue);
    font-size: 16px;
    text-size-adjust: 100%;
}
main {
    background-color: #fff;
    padding: 1rem 0 0.5rem;
}
pre {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 150%;
}
select {
    -moz-appearance: none; /* Override default styling. */
    -webkit-appearance: none; /* Override default styling. */
    appearance: none; /* Override default styling. */
    background-color: white;
    border-color: var(--yellow);
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    color: var(--blue);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    min-height: 2rem;
    padding: 0 1rem;
    text-align: center;
    transition: background 0.25s;
}
select::-ms-expand { /* Override default styling. */
    display: none; /* Internet Explorer 10–11 and Edge. */
}
small {
    font-size: 90%;
}
summary {
    background-color: #fff;
    border-color: var(--yellow);
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    color: var(--blue);
    cursor: pointer;
    display: inline-block; /* Prevent full-width extension. */
    padding: 0.25rem 1rem;
    transition: background-color 0.25s;
}
details[open] summary {
    display: none;
}
.chair-affiliation {
    font-size: 95%;
}
.chair-content {
    line-height: 1.125;
}
.chair-content > * {
    margin: 0 0 0.3333rem;
}
.chair-country {
    font-size: 85%;
    text-transform: uppercase;
}
.chair-photo {
    border-radius: 50%;
    margin-bottom: -0.25rem;
    padding: 0.5rem;
    width: 100%;
}
.chair-url {
    font-size: 85%;
    line-height: 2;
}
.chair-url > a {
    padding: 0.125rem 0.75rem;
}
.chair-wrap {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    width: calc((100% - 0.5rem * 2 * (6 - 1)) / 6);
}
.chair-wrap:nth-child(6n + 1) {
    margin-left: 0;
}
.chair-wrap:nth-child(6n) {
    margin-right: 0;
}
.chairs-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 1rem;
}
.chairs-all-heading {
    font-size: 133.3333%;
    line-height: 1.3333;
    margin-top: 1.5rem;
}
.email {
    display: inline-block;
    line-height: 2;
    min-height: 2rem;
    padding: 0 1rem;
}
.language-gui {
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 1000;
}
.leaflet-bar {
    box-shadow: none !important; /* Override plugin CSS. */
}
.leaflet-bar a,
.leaflet-bar a:last-child {
    border-bottom: 1px solid var(--yellow) !important; /* Override plugin CSS. */
}
.leaflet-container a {
    color: var(--blue) !important; /* Override plugin CSS. */
}
.leaflet-control-attribution {
    padding: 0 0.1rem !important; /* Override plugin CSS. */
}
.leaflet-control-attribution a {
    padding: 0 0.25rem !important; /* Override plugin CSS. */
    text-decoration: none !important; /* Override plugin CSS. */
}
.leaflet-popup-content {
    display: flex;
    margin: 0.5rem 1rem 0.5rem 0.5rem !important; /* Override plugin CSS. */
}
.leaflet-touch .leaflet-bar {
    border: none !important; /* Override plugin CSS. */
}
.map {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.map-anchor {
    display: inline-block;
    line-height: 1.25;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
}
.map-logo {
    float: left;
    height: 48px;
    margin: 0 0.5rem 0 0;
    width: 48px;
}
.map-wrap {
    margin: 0 0.5rem 1.25rem;
    padding-bottom: 33%; /* 3:1 aspect ratio default. */
    position: relative;
}
@media (orientation: portrait) {
    .map-wrap {
        padding-bottom: 100%; /* 1:1 aspect ratio for phones. */
    }
}
.member-content {
    line-height: 1.125;
    padding: 0.75rem;
}
.member-content > * {
    margin: 0 0 0.125rem;
}
.member-country {
    font-size: 90%;
    text-transform: uppercase;
}
.member-logo {
    width: 128px;
}
.member-url {
    line-height: 1.3;
}
.member-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    max-height: 256px;
    max-width: 256px;
    width: calc((100% - 5rem) / 5);
}
.members-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
}
.members-all-heading {
    font-size: 105%;
    line-height: 1.5;
}
.prose {
    line-height: 1.5;
    margin: 0 auto 1rem;
    max-width: 928px;
}
.prose a {
    padding: 0 0.5rem;
}
.prose h1 {
    font-size: 133.3333%;
    line-height: 1.3333;
    margin: 0 auto 0.25rem;
}
.prose p {
    line-height: 1.6667;
    margin: 0 auto 0.5rem;
}
.site-logo {
    margin: 0 auto;
    max-width: 384px;
}
.width-limit {
    margin: auto;
    max-width: 1280px;
    padding: 0 1rem;
}
@media (hover: hover) { /* For desktop only. */
    a:hover,
    a:focus,
    select:hover,
    select:focus,
    summary:hover,
    summary:focus {
        background-color: var(--yellow);
    }
    .leaflet-bar a:hover {
        background-color: var(--yellow) !important; /* Override plugin CSS. */
    }
}
@media all and (max-width: 1279px) {
    .chairs-all {
        padding: 0 1.5rem;
    }
    .member-wrap {
        width: calc((100% - 4rem) / 4);
    }
}
@media all and (max-width: 1023px) {
    .chair-wrap {
        width: calc((100% - 0.5rem * 2 * (4 - 1)) / 4);
    }
    .chair-wrap:nth-child(6n + 1),
    .chair-wrap:nth-child(6n) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .chair-wrap:nth-child(4n + 1) {
        margin-left: 0;
    }
    .chair-wrap:nth-child(4n) {
        margin-right: 0;
    }
    .member-content {
        font-size: 95%;
    }
    .member-wrap {
        width: calc((100% - 3rem) / 3);
    }
}
@media all and (max-width: 767px) {
    .chair-content {
        font-size: 95%;
        padding-top: 0.5rem;
    }
    .chair-wrap {
        width: calc((100% - 0.5rem * 2 * (3 - 1)) / 3);
    }
    .chair-wrap:nth-child(4n + 1),
    .chair-wrap:nth-child(4n) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .chair-wrap:nth-child(3n + 1) {
        margin-left: 0;
    }
    .chair-wrap:nth-child(3n) {
        margin-right: 0;
    }
    .member-content {
        font-size: 85%;
    }
    .member-logo {
        width: 112px;
    }
    .member-wrap {
        width: calc((100% - 2rem) / 2);
    }
}
@media all and (max-width: 511px) {
    .chair-wrap {
        width: calc((100% - 0.5rem * 2 * (2 - 1)) / 2);
    }
    .chair-wrap:nth-child(3n + 1),
    .chair-wrap:nth-child(3n) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .chair-wrap:nth-child(2n + 1) {
        margin-left: 0;
    }
    .chair-wrap:nth-child(2n) {
        margin-right: 0;
    }
    .member-content {
        font-size: 80%;
    }
    .member-logo {
        width: 96px;
    }
    .site-logo {
        max-width: 87.5%;
    }
}
@media all and (max-width: 369px) {
    .chair-content {
        font-size: 90%;
    }
    .member-wrap {
        width: calc((100% - 1rem) / 1);
    }
    .site-logo {
        max-width: 87.5%;
    }
}
